<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label for="">Server Name</label>
            <!-- Pendekatan data binding (1) -->
            <!-- <input 
                type="text" 
                class="form-control"
                (input)="onUpdateServerName($event)"> -->

            <!-- Pendekatan data binding (2) -->
            <input 
                type="text" 
                class="form-control"
                [(ngModel)]="serverName">
            <p class="mt-3">{{serverName}}</p>

            <button class="btn btn-primary mb-4" 
            [disabled]="!allowNewServer"
            (click)="onCreateServer()">Add Servers</button>
            <!-- property binding <p [innerText]="allowNewServer"></p> -->
            <p style="padding: 20px; border: 1px solid blue;
            background-color: skyblue;">{{serverCreationStatus}}</p>


            <label for="">Username</label>
            <input 
                type="text"
                class="form-control"
                [(ngModel)]="username">
            <p class="mt-3">{{username}}</p>
            
            <button class="btn btn-primary mb-4" 
                    [disabled]= ""
                    (click)="onCreateUser()">Add User</button>
    
            <button class="btn btn-primary mb-4 ms-2" 
                    [disabled] = "username === ''"
                    (click)="username = ''">Reset User</button> 

            <p style="padding: 20px; border: 1px solid blue;
            background-color: skyblue;">{{usernameCreationStatus}}</p>

        </div>
    </div>
</div>

<!-- <app-server></app-server>
<app-server></app-server> -->